[submodule "scripts"]
	path = scripts
	url = https://www.github.com/IbrahimHindawi/scripts
[submodule "extern/haikal"]
	path = extern/haikal
	url = https://www.github.com/IbrahimHindawi/haikal
[submodule "extern/saha"]
	path = extern/saha
	url = https://github.com/IbrahimHindawi/saha
[submodule "extern/kayan"]
	path = extern/kayan
	url = https://github.com/IbrahimHindawi/kayan
[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm.git
